---
import { i18nFactory } from '~/i18n'
const _ = i18nFactory(Astro.currentLocale as any)

export interface Props
{
	class?: string
	style?: string
}

const githubRepositoryUrl = process.env.GITHUB_REPOSITORY_URL || null as string | null
const githubSha = process.env.GITHUB_SHA || null as string | null
const buildVersion = githubSha ? githubSha.slice(0, 7) : 'dev'
---

<footer
	id="footer"
	class={Astro.props.class}
	style={Astro.props.style}
>
	<div>
		<h3>
			<span class="icon-[mdi--code-braces] icon-align"></span>
			{_({ en: 'Open source project', fr: 'Projet open source' })}
		</h3>
		<p>
			<span class="icon-[mdi--github] icon-align"></span>
			{_({ en: 'See the source code on', fr: 'Voir le code source sur' })}
			<a href={githubRepositoryUrl ?? '#'}>GitHub</a>
			<small>(v. {buildVersion})</small>
		</p>
		<p>
			<span class="icon-[mdi--bike] icon-align"></span>
			{_({ en: 'An o2o internal tool, built with', fr: 'Un outil interne o2o, construit avec' })}
			<a href="https://astro.build/">Astro</a>.
		</p>
		<p>
			<span class="icon-[mdi--heart] icon-align text-red-500"></span>
			{_({ en: 'Based on', fr: 'Basé sur' })}
			<a href="https://github.com/matiboux/eml-reader">eml-reader</a>
			{_({ en: 'by', fr: 'par' })}
			<a href="https://matiboux.me/">Matiboux</a>
			<small>(MIT)</small>
		</p>
	</div>

	<div>
		<h3>
			<span class="icon-[mdi--security-lock] icon-align"></span>
			{_('Data privacy')}
		</h3>
		<p>
			<span class="icon-[mdi--server-network-off] icon-align"></span>
			{_('No data is collected or processed over the network or on any server.')}
			{_('All data is processed locally in your browser, and stays on your own device.')}
		</p>
		<p>
			<span class="icon-[mdi--cookie-off] icon-align"></span>
			{_('This website uses no cookies and does no tracking.')}
		</p>
	</div>
</footer>

<style lang="scss">
@reference "tailwindcss/theme";

footer {
	@apply
		flex
		flex-wrap
		justify-around
		items-start
		space-y-8
		sm:space-y-0
		;

	> div {
		@apply
			w-full
			sm:w-auto
			sm:max-w-[50%]
			space-y-2

			;

		h3 {
			@apply
				text-lg
				;
		}

		a {
			@apply
				text-blue-500
				hover:text-blue-700 hover:underline
				;
		}

		strong, b {
			@apply
				font-semibold
				;
		}
	}
}
</style>
